@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
</head>
<body style="background-color:#ecf3db">



    <section class="py-xxl-1" style="background-color:#00a500">
        <h1 class="m-lg-5 text-white display-1">Gelecek için ucundan tut.</h1>
    </section>

    <section class=" py-xxl-5" style="background-color:#34282C">
        <div class="row">
            <div class="col-5 text-center my-auto">
                <h5 class="display-5 text-white font-weight-bold">Kim olduğun önemli değil</h5>
            </div>
            <div class="col-7">
                <p class="text-white display-6 ">ucundantut.com, iyilik yapan iyidir mottosuyla yola çıkmış bir organizasyondur. Sizden adınız, cinsiyetiniz, etnik kökeniniz ya da iletişim bilgileriniz istenmez.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="row justify-content-center" style="background-color:#ff6600">
            <div class="col-4 card my-xxl-5 py-5 mx-4" style="max-width:20rem; background-color:#34282C">
                <h4 class="text-white display-6 justify-content-center mx-auto text-center">Kendine uygun aktiviteyi bul</h4>
                <div class="card-body">
                    <p><h4 class ="card-text text-white">Sana uygun olan yardım faaliyetini bulman çok önemli. Seni önemsiyoruz ve iyilik yaparken aynı zamanda eğlenmeni istiyoruz.</h4></p>
                </div>
            </div>
            <div class="col-4 card my-xxl-5 py-5 mx-4" style="max-width:20rem; background-color:#34282C">
                <h4 class="text-white display-6 justify-content-center mx-auto text-center">Organizatörlerle iletişime geç</h4>
                <div class="card-body">
                    <p><h4 class ="card-text text-white">Gizliliğini koruyoruz. Unutma, sen istemediğin sürece kimse bilgilerini talep edemez. Tek yapman gereken anonim olarak etkinliğe kayıt olmak.</h4></p>
                </div>
            </div>
            <div class="col-4 card my-xxl-5 py-5 mx-4" style="max-width:20rem; background-color:#34282C">
                <h4 class="text-white display-6 justify-content-center mx-auto mb-5">Ucundan Tut</h4>
                <div class="card-body">
                    <p><h4 class ="card-text text-white justify-content-end">Artık tek yapman gereken dünyayı daha iyi bir yer hale getirmek. Yardımın için şimdiden teşekkürler. Kolay gelsin !</h4></p>
                </div>
            </div>
         

           
        </div>
    </section>
    <div class="container justify-content-evenly p-5" style="max-width:max-content" >
        <img src="~/Photos/ihh.png" alt="İhh" class="rounded-circle" style="max-height:100px">
        <img src="~/Photos/egitim.png" alt="Kızılay" class="rounded-circle" style="max-height:100px">
        <img src="~/Photos/tema.png" alt="Tema" class="rounded-circle" style="max-height:100px">
        <img src="~/Photos/tev.png" alt="Tev" class="rounded-circle" style="max-height:100px">
    </div>








</body>
</html>

